.form {
    width: 50%;
}

title {
    font-size: 300pt;
}

.card-letter {
    width: 50rem;
    text-align: center;
}

.letter-body {
    min-height: 18rem;
    min-width: 40rem;
}

.letter-container {
    min-height: 100vh;
}